:root {
  --ion-background-color: #000000;
  --ion-text-color: #d4af37;
  --ion-color-primary: #d4af37; 
  --ion-color-secondary: #ffffff;
  --ion-toolbar-background: #000000;
  --ion-toolbar-color: #d4af37;

  
  --ion-item-background: #333333;
  --ion-button-background: #d4af37;
  --ion-button-color: #000000;
  --ion-card-background: #1a1a1a;
  --ion-card-title-color: #d4af37;
}

