.reservas-content {
    background-color: var(--ion-background-color);
  }
  
  .custom-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-secondary);
    font-weight: bold;
    margin-top: 10px;
  }
  
  ion-card {
    --background: var(--ion-card-background);
  }
  
  ion-card-title {
    color: var(--ion-card-title-color);
  }
  